/* .table::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.ant-table-cell-scrollbar{
    display: none;
} */
.ant-modal {
  top: 50px !important;
}

table tr th {
  font-size: 0.9rem !important;
  text-align: center !important;
}
.srcoll {
  overflow: auto;
  height: 100%;
}
.srcoll::-webkit-scrollbar{
    width: 0;
    height: 0;
}